#container {
    width:1000px;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

div {
    border-radius: 10px;
    
}

#header {
    position:relative;
    width:1000px;
    height:60px;
    background-color:rgb(61, 60, 60);
    color:white;
    
    
}

#header-title {
    position:absolute;
    margin-left:30px;
    margin-top:10px;
}

#nav-bar {
    width:1000px;
    height:40px;
    background-color: rgb(61, 60, 60);
    color:white;
    margin-top:10px;

}

.btn {
    width:80px;
    height:30px;
    background-color:rgb(134, 133, 133);
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-size:14px;
    text-align:center;
    line-height:30px;
    margin-right:70px;
    margin-top:5px;
    float:left;
}

.btn:hover {
    background-color: darkgrey;
}

#nav-btns {
    width:450px;
    height:35px;
    /*border: 1px solid red;*/
    margin-left:300px;
}

#content {
    position:realtive;
    width:1000px;
    height:350px;
    background-color:rgb(61, 60, 60);
    margin-top:10px;
}

.bio-section {
    position:absolute;
    width:650px;
    height:300px;
    background-color:rgb(156, 155, 155);
    margin-left:10px;
    top:150px;
}

.section-title {
    background-color:rgb(99, 97, 97);
    margin-left:10px;
    
}

.hobbies-section {
    position:absolute;
    width:300px;
    height:300px;
    background-color:rgb(156, 155, 155);
    margin-left:680px;
    margin-right:10px;
    /*border: 1px solid red;*/
    top:150px;
}

#Bio {
    width:620px;
    height:30px;
    padding-left:10px;
    
}

#Hobbies {
    width:270px;
    height:30px;
    padding-left:10px;

}

#text {
    width:620px;
    height:210px;
    background-color:rgb(99, 97, 97);
    margin-left:10px;
    font-size:large;
    padding-left:10px;
    padding-top:10px;
}

#footer {
    position:relative;
    width:1000px;
    height:40px;
    background-color:rgb(61, 60, 60);
    color:white;
    text-align:center;
    margin-top:10px;
}

#footer-text {
    position:absolute;
    bottom:-1px;
    margin-left:410px;
    font-size:13px;
    
}

.school-section {
    position:absolute;
    width:300px;
    height:300px;
    background-color:rgb(156, 155, 155);
    margin-right:680px;
    margin-left:10px;
    top:150px;
    border:1px solid black;
    z-index: 1;
}

#Schooling {
    width:270px;
    height:30px;
    padding-left:10px;
}

#img {
    width:1000px;
    height:350px;
    border:1px solid black;
    opacity:40%;
}

.questions {
    border:1px solid black;
    width:1000px;
    height:100px;
    background-color: rgb(116, 113, 113);
}

#riddle-content {
    position:realtive;
    width:1000px;
    height:750px;
    background-color:rgb(61, 60, 60);
    margin-top:10px;
    color:white;
}

.question-text {
    padding-left:10px;
}


